<%- include('partials/loggedInHeader') -%>

  <div class="container feed-gallery">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-12 col-md-6 col-lg-4 justify-content-between mt-2">
            <a href="/post/<%= posts[i]._id%>">
              <% if(posts[i].image.includes('video')){ %>
                <video width="400" height="240" controls src="<%= posts[i].image%>" type="video/mp4" class="feed-img">
                </video>
              <% } else if(posts[i].image.includes('image')){ %>
                <img class="feed-img" src="<%= posts[i].image%>" />
              <% } %>
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>
